*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.body{
    background-color:#fff;
}


.full-width{
    width:100%;
}

.navbar-div{
    height:75px;
}

.nav-logo{
    width:100px;
    flex-shrink: 0;
    padding-right: 0.8rem;
}
.nav-logo img{
    width:100%;
}
.main-navHeader{
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    z-index: 1010;
}

.mobile-nav{
    top: 0;
    position: fixed;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    width: 100%;
    background: #fff;
    z-index: 9;

}

.banner-top {
    height: 320px;
    background: #233C7B;
    background: linear-gradient(124deg, rgba(80,58,146,1) 0%, rgba(35,60,123,1) 39%, rgba(80,58,146,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-btn{
    background: none;
    color: #1c1d1f;
    border: none;
}

.nav-serchbtn button{
    color: #1c1d1f;
}

.nav-serchbtn button:hover,.dropdown-btn:hover,.ineuron-coursediv:hover,.first-couse.dropdown a:hover{
    color: #FC9E33!important;
}
.dropdown-btn:focus{
    border: none;
}
.courses-dropdiv{
    position:absolute!important;
    top: 70px!important;
    width:620px!important;
}
.profile-imgdiv{
    background: blue;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.inueron-coursediv div{
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.4rem;
    color: #1c1d1f;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2.4rem 0 0;
}

.nav-serachbar{
    flex-grow: 1;
    height: 46px;
    border: 1px solid #1c1d1f;
    border-radius: 9999px;
    background-color: #f7f9fa;
    margin: 0 1.2rem;
}

.nav-serchbtn button{
    background: transparent;
    border: none;
    margin-right: 15px;
}

.nav-inputform input{
    background-color: transparent;
    border:none;
    border: 0;
    flex: 1;
    width: 600px;
}

.secondary-navbar{
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    z-index: 1010;
    border-top: 1px solid #d1d7dc;
    /* max-width: 100%; */
    max-height: 4.8rem;
}

.dropdown-toggle::after {
    content: none!important;
}
.courses-div{
    padding: 0.8rem 1.6rem;
    /* position: static!important; */
}

.dropdown:hover .dropdown-menu,
            .btn-group:hover .dropdown-menu {
                display: block;
            }

.dropdown-btn::after{
    content: '';
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    border-bottom: 0.8rem solid #1c1d1f;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
} 

.sec-menu{
    position:absolute;
    left:0;
    top:50px;

}

.flex-1{
    flex: 1 0 0;
}

span#basic-addon1 {
    background: transparent;
    border: none;
}

.searchbar-div{
    border: 1px solid;
    border-radius: 20px;
}
.search-ico{
    background: transparent;
    border: none;
}

.course-serch{
    border: none!important;
    border-top-right-radius: 20px!important;
    border-bottom-right-radius: 20px!important;
}

.course-serch::placeholder{
    color: #233c7b!important;
}

.first-couse.d-flex {
    width: 300px;
}

.course-column-one:not(:last-child) {
    border-right: 1px solid lightgray;
}





@media (max-width: 770px){
.mobile {
    display: block !important;
}
.margin-t80{
    margin-top:0!important;
}
}

.mobile{
    display: none !important
}

.sidenavMenu {
    height: 100%;
    width: 75%;
    position: fixed;
    z-index: 99999;
    top: 0px;
    left: -1000px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.8s;
    /* padding-top: 60px; */
}

#backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(28,29,31,.8);
    pointer-events: all;
    display: none;
}

#menu-close{
    position: absolute;
    right: 12px;
    background: blue;
    padding: 10px;
    border-radius: 100px;
}

.profile-img{
    background: #1c1d1f;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    object-fit: cover;
    color: #fff;
    width: 64px;
    height: 64px;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 25px;
}

.active-dot{
    position: absolute;
    font-size: 1.6rem;
    top: 0;
    right: 2%;
    background: #a435f0;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 100px;
}

.user-nameDiv p{
    font-size:12px;
    font-weight: 500;
    color: #6a6f73;
}

.mob-nav-header{
    background: #f7f9fa;
}

.mobcourse-priHeading{
    color: #6a6f73;
    font-weight: 700;
    line-height: 1.2;
}
.mob-coursename-div{
    color: #1c1d1f;
    font-weight: 400;
    line-height: 1.4;
    font-size: 16px;
}

.mob-courses-div:not(:first-child){
    
    border-top: 1px solid #d1d7dc;
    padding-bottom: 15px;

}

.slider-container{
    background:#fff!important;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}


.slider-main-div{
    height: 500px;
    
    width:100%;
    margin:0 auto!important;
}

.header-cards-div{
    bottom:0px;
}

.course-selection-div h2{
    font-size:60px;
    text-transform: capitalize;
    font-weight: 700;
    color:#233C7B;
}

.course-selection-div h2::after{
    content: '';
    width: 300px;
    height: 5px;
    display: block;
    /* background-color:#f28900; */
    background: linear-gradient(to right,transparent,#f28900,transparent);
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 10px auto;
}

.course-primary-div{
    padding-top: 50px;
}

.head-card-name.bg-white {
    border-radius: 10px;
    width: 300px;
}

.head-card-name div{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px 30px;
    border-radius: 13px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);

}

.margin-t80{
    margin-top:80px;
}
.head-card-name div span{
    font-size: 40px;
    font-weight: 700;
    color: #387ca2;
}

.header-cards{
    /* border:1px solid #000;    */
}
.data-scince-courses{
    /* height:550px; */
    border:1px solid lightgray;
    box-shadow: rgb(19 46 112 / 10%) 0 1rem 4rem;
    border-radius: 10px;
}
.data-scince-courses p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-bottom: 16px;
    max-width: 50rem;
}

.course-cards-div {
    width: 300px;
    /* background: red; */
    border: 1px solid lightgray;
    height:inherit;
}

.card-name.mt-2 {
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tabs-div{
    cursor:pointer;
    flex: 0 0 auto;
    color: #6a6f73;
    font-weight: 700;
}
.tabs-div.data-science-div.active {
    font-weight: 700;
    color:#000;
    
}

.banner-heading-div{
    /* padding-left: 70px; */
    width: 1250px;
    margin: 0 auto;
}
.banner-leftdiv{
    width: 50%;
}

.banner-heading-div h1{
    font-size:60px;
    font-family: 'Secular One', sans-serif;
    text-transform: capitalize;
}

.banner-img-div {
    right: 0;
}
.banner-heading-div p{
    padding-right: 70px;
    font-size: 24px;
}

button.enroll-now {
    font-size: 20px;
    background: none;
    padding: 15px 50px;
    font-weight: 500;
    text-transform: uppercase;
}
.banner-heading-div span,.bbaner-bottom-heading span{
    /* color: #387ca2; */
    color:#233C7B;
}


.mob-banner-div {
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    height: 600px;
}
.banner-subtitle{
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

h1.bbaner-bottom-heading {
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    color: #f28900;
}

.banner-bottom p {
    font-size: 15px;
    font-weight: 500;
}

#hoverdiv{
    display:none;
}

.slick-prev:before {
    content: "<";
    color: red;
    font-size: 30px;
  }
  
  .slick-next:before {
    content: ">";
    color: red;
    font-size: 30px;
  }
  .courses-tabs-wrapper{
    overflow: auto;
   
  }

  .footer{
    background: #233C7B;
  }
  

  .footer-logoimg,.iso-certificate{
    width: 100px;
  }
  a.nav-link.p-0.text-white {
    color: #f6a655!important;
    font-weight: 500;
}

a.nav-link.p-0.text-white span {
    margin-right: 10px;
}